body {
    background-color: #590004;
}

.quiz-container {
    background-image: url('../../assets/background.jpg'); 
    background-size: cover; 
    background-position: center center;
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 800px;
    height: 400px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
    font-size: 25px;
    color: #4C120B; 
    transition: all 0.3s ease-in-out;
    font-family: "Courgette", serif;
    font-weight: 400;
    position: relative;
}
.quiz-container h2{
    padding-top: 50px;
}

button {
    font-size: 16px;
    padding: 12px 25px;
    margin: 10px;
    cursor: pointer;
    border: 2px solid #C65060;  
    border-radius: 8px;
    background-color: #893A49;
    color: #E4CDDD; 
    font-family: "Courgette", serif;
    font-weight: 600;
    transition: all 0.1s ease;
}
.view-profiles-button {
    margin-top: 60px;
}
button:hover {
    background-color: #4C1208; 
}

button.selected {
    background-color: #4C1208;  
}

button:active {
    transform: translateY(4px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.loader {
    border: 10px solid #E4CDDD;
    border-top: 8px solid #7B1D26; 
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-60%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
